################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/1760081/obj
/bin/Debug
/1760081
/obj
