################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/1760081/obj
/bin
/1760081
/obj
/1760081.csproj.user
